/*----------MEDIA Query_____________*/

@media only screen and (min-width : 640px) {
    html,body {
        overflow: hidden;
    }
    .cut {
        background: blue;
        height: 90%;
        width: 25%;
        overflow: hidden;
        position: absolute;
        float: left;
    }

    .two {
        left: 25%;
    }

    .three {
        left:50%;
    }

    .four {
        left: 75%;
    }

    .col {
        background: #000;
        width: 108%;
        height: 100%;
        overflow-y: scroll;
    }

    .post img {
        height: auto;
        margin-bottom: -5px;
        width: 100%;
    }
}


/*Second Media */

@media only screen and (max-width : 640px) {

    .hidden-sm {
        display: none;
    }

}

/*--------------*/


.post {
    background-color: white;
}

span {
    position: absolute;
    z-index: 300;
    color: #fff;
    bottom: 10px;
}

figcaption {
    color: #fff;
    position: relative;
    bottom: 200px;
    width: 100%;
    background: rgba(0,0,0,0.75);
    height: 0;
    text-align: center;
}

.title {
    background: white none repeat scroll 0 0;
    font-family: "sheraton", Georgia, serif;
    padding: 30px;
    max-height: 210px;
}

.prices {
    background: white none repeat scroll 0 0;
    font-family: "sheraton",Georgia,serif;
    padding: 30px;
    max-height: 210px;

}

.info {
    background: white none repeat scroll 0 0;
    font-family: Georgia;
    padding: 30px;

}

.contact {
    background: white none repeat scroll 0 0;
    font-family: "sheraton",Georgia,serif;
    padding: 10px;
    max-height: 210px;

}

.contact a {

    text-decoration: none;
    color: black;
}

ul
{
    list-style-type: none;
}

