/*----------MEDIA Queries_____________*/
/*---------------------- Large screen----------------*/

@media only screen and (min-width : 2000px) {
    html,body {
        overflow: hidden;
        margin: 0;
    }

    .container-fluid {
        max-width: 2000px;
        max-height: 900px;
    }

    .cut {
        background: blue;
        height: 100%;
        width: 25%;
        overflow: hidden;
        position: absolute;
        float: left;
    }

    .two {
        left: 25%;
    }

    .three {
        left:50%;
    }

    .four {
        left: 75%;
    }
}

/*----MEDIUM SCREEN--------------------*/
@media only screen and (min-width : 1000px) and (max-width: 1580px) {
    html,body {
        overflow: hidden;
        margin: 0;
    }
    .cut {
        background: blue;
        height: 100%;
        width: 25%;
        overflow: hidden;
        position: absolute;
        float: left;
    }

    .two {
        left: 25%;
    }

    .three {
        left:50%;
    }

    .four {
        left: 75%;
    }


}

/* medium and large have in common ******************************************/
@media only screen and (min-width : 1000px) {

    .col {
        background: #000;
        width: 108%;
        height: 100%;
        overflow-y: scroll;
    }

    .post img {
        height: auto;
        margin-bottom: -5px;
        width: 100%;
    }

    .prices {
        padding: 15px 30px 30px;
    }

    .hidden-md{
        display: none;
    }
}
/*----------SMALL SCREEN------ */

@media only screen and (max-width: 1000px) {

    .post > .title {
        font-size: 1.6em;
    }

    .title > .header-wrapper > h2 {
        margin-top: 7px;
        display: inline;
    }

    img.logo {

        width: 80px;
        height: 80px;
    }


    .prices {
        padding: 15px 30px 0px;
    }
    .prices h4 {
        text-align: center;

    }

    table.tg {
        margin-left: auto;
        margin-right: auto;
    }

    .hidden-sm {
        display: none;
    }

    .post {
        background-color: white;

    }

    .post > img {
        width: 100%;
    }

    .post  {
        font-size: 1.4em;
    }
    a {
        color:white;
        text-decoration: none;
    }
    a:visited{
        color:darkgray;
    }
}
/*--------------*/


.post {
    background-color: white;
}

span {
    position: absolute;
    z-index: 300;
    color: #fff;
    bottom: 10px;
}

figcaption {
    color: #fff;
    position: relative;
    bottom: 67px;
    width: 100%;
    background: rgba(0,0,0,0.75);
    height: 0;
    text-align: center;
}

/*.post {*/
    /*min-height: 213px;*/
/*}*/

.title > .header-wrapper > h2 {

    font-family: 'Crimson Text', serif;
    text-shadow: 4px 4px 4px #aaa;
}

#one > .title > .sub {
    /*font-family: 'Italiana', serif;*/
    font-family: 'Crimson Text', serif;

}

.title {
    background: white none repeat scroll 0 0;
    font-family: 'Lato', sans-serif;
    padding: 30px;
    /*min-height: 210px;*/
}

.prices {
    background: white none repeat scroll 0 0;
    font-family: 'Lato', sans-serif;
    /*padding: 15px 30px 0;*/
    /*min-height: 210px;*/

}

.prices > h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    padding-top: -15px;
    margin-top: 34px;

}

table.tg {
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}


#two > .prices {


}


/*#three > .prices > ul > li:last-child {*/
    /*display: none; */
/*}*/



.info {
    background: white none repeat scroll 0 0;
    font-family: Georgia;
    padding: 30px;
}

.contact {
    background: white none repeat scroll 0 0;
    font-family: "sheraton",Georgia,serif;
    padding: 10px;
    padding-bottom: 0;
    /*max-height: 200px;*/

}

.contact > h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    margin-bottom: 5px;

}

.contact a {
    text-decoration: none;
    color: black;
}

.contact > .title > ul {
    padding-left: 0px;
}

.contact > .title > ul > li:first-child {
    margin-bottom: 5px;
}
.contact > .title > ul > li:last-child {
    margin-top: 3px;
    font-size: 13px;
}

ul {
    list-style-type: none;
    margin-top: -16px;
}